/***************************** Custom variables *****************************/
$primary: #062929;
$secondary: #a8836d;
$background_verdecito: #e6fafa;
$background_lightBrown: #fed7aa;

@use "../../node_modules/bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $secondary: $secondary
);

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: $primary;
  background-color: #fcfcfb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/***************************** Common clasess *****************************/

.background_verdecito {
  background-color: $background_verdecito;
}

.background_lightBrown {
  background-color: $background_lightBrown !important;
}

/***************************** Components *****************************/

#header {
  .logo-link {
    color: $primary;
  }

  .auth-buttons {
    .btn-primary {
      &:hover {
        background-color: $background_verdecito !important;
        border-color: $primary;
        color: $primary;
        transition: all 0.3s ease;
      }
    }
  }

  @include bootstrap.media-breakpoint-up(lg) {
    .auth-buttons {
      margin-left: 140px;
    }
  }

  @include bootstrap.media-breakpoint-up(xl) {
    .auth-buttons {
      margin-left: 380px;
    }
  }

  @include bootstrap.media-breakpoint-up(xxl) {
    .auth-buttons {
      margin-left: 420px;
    }
  }
}
