$primary: #062929;
$secondary: #a8836d;

$background_verdecito:#e6fafa;


@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: $primary;
  background-color: #fcfcfb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background_verdecito {
  background-color: $background_verdecito;
}
.max-height-200px {
  max-height: 200px;
}